@{
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="@ContentLanguage.PreferredCulture.Name">
    
</head>
<body>
    @await Html.RenderEPiServerQuickNavigatorAsync()
    @RenderBody()
</body>
</html>
